<% if @onthegrid %>
  <% if @english%>
  <p> Amazing <%= @user_input %> is on grid </p>
  <% else %>
  <p> Not english</p>
  <% end %>
<% else %>
<p>not in the grid</p>
<% end %>
<%= link_to "Try again", new_path %>